.home-about-us-bg-img {
    background-image: url(../../assets/images/jpg/home-about-us-bg-img.jpg);
}

.home-philosophy-bg-img,
.home-achievement-bg-img,
.home-certifications-bg-img,
.home-global-footprint-bg-img {
    background-image: url(../../assets/images/png/home-philosophy-bg-img.png);
}

.card-stack-bg-img {
    background-image: url(../../assets/images/jpg/card-stack-img.jpg);
    box-shadow: 0 8px 24px #959da533;
}

.review-card,
.award-card {
    box-shadow: 0 8px 24px #959da533;
}

.review-sticky {
    position: sticky;
    top: 30%;
}

/* add this */
.home-certifications-section .swiper-wrapper {
    transition-timing-function: linear !important;
}

.home-certifications-section .swiper {
    overflow: hidden;
}

.home-certifications-section .swiper-slide {
    flex-shrink: 1;
}

/* =================== MEDIA QUERIES ==================== */
@media screen and (max-width: 576px) {
    .review-sticky {
        position: relative;
    }
}

/* @media screen and (max-width: 770px) {
  .home-certifications-section .slick-track {
    width: 3600px !important;
  }

  .home-certifications-section .slick-initialized .slick-slide {
    width: 160px !important;
  }
} */